
/* Your CSS Code here. */
.main{
	width:200px;
	border:0px solid green;
	border-left-width: 5px;
	border-left-color: green;
	background-color:rgb(128,0,128);
	padding:10px;
}
#heading{
	color:white;
	font-size:20px;
	display:flex;
	justify-content:center;
	align-items:center;
}